.hide {
    display: none;
}
main {
    margin: 5px;
}

.content-container{
    display: flex;
    height: 250px;
    color: rgb(89,113,78);
}

.content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    flex-direction: column;
    color: rgb(89,113,78);
}
body {
    background-color: lightgray;
    padding: 30px;
}
h1 {
    justify-content: center;
    display: flex;
    color: rgb(89,113,78);
}

h2 {
    color: rgb(89,113,78);
}

h3 {
    color: rgb(114,93,67);
}

.campsite {
    padding: 10px;
}

#campsite-title {
    padding-left: 200px;
}

#Campground-title {
    padding-left: 200px;
    padding-top: 10px;
}


#campground-container {
    border: 2px solid black;
    padding: 10px;
}


button {
    color: blue;
}


#index-campsite-container {
    display: inline-flex;
}

#show-campground-container {
    border: solid;
    padding: 10px;
}
#message-campsite-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: green;
}
#message-container {
    font-size: 30px;
    color: green;
}